@use './typography.scss';

.App {
  margin: 5vmin 10vmin 0 10vmin;

  * {
    outline: 0;
  }

}

.App-image {
  width: 100%;
  height: calc(100px + 10vmin);
  object-fit: cover;
  margin-bottom: calc(16px + 2vmin);
}

.App-header {

  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  
  .App-header__name {
    margin-bottom: 1vmin;
    h1 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }

  .App-header__navigation {
    ul {
      padding: 0;
      list-style: none;
      display: flex;
    }
  }

}

.App-footer {
  padding: calc(3px + .5vmin) calc(15px + 1vmin);
  margin-top: 12vmin;
  margin-bottom: 5vmin;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #005b99;
  color: #fafafa;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #005b99;
  color: #fafafa;
  border: 1px solid #005b99;
  padding: calc(.25vmin) calc(5px + 1vmin);
}

td {
  padding: calc(.25vmin) calc(5px + 1vmin);
  border: 1px solid #005c996b;
}

form {

  .form-group {

    display: flex;
    flex-flow: column;

    label {
      flex: 1;
      text-align: left;
    }

    input {
      flex: 1;
    }

    textarea {
      flex: 1;
    }

    margin-bottom: calc(5px + 1vmin);

  }
  
  label {
    margin-right: calc(5px + 1vmin);
  }

  input[type='submit'] {
    background-color: transparent;
    color: #005b99;
    border: 2px solid #005b99;
    font-size: calc(11px + 1vmin);
    padding: calc(4px + .25vmin);
  }

}

@media only screen and (min-width: 600px) {
  
  .App {
    margin: 8vmin 15vmin 0 15vmin;
  }

  .App-header__navigation {
    
    margin-bottom: calc(12px + 2vmin);
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      li {
        margin-right: calc(11px + 1vmin);
      }
    }
  }

}

@media only screen and (min-width: 1200px) {
  // .App-header {
  //   flex-flow: row;
  // }
  .App {
    margin: 8vmin 25vmin 0 25vmin;
  }
  form {
    .form-group {
      input {
        width: 50%;
      }
      textarea {
        width: 50%;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .App {
    margin: 8vmin 40vmin 0 40vmin;
  }
}

.App-content {
  h1 {
    font-size: calc(24px + 2vmin);
    margin: 0;
  }
  h2, h3, h4 {
    font-size: calc(16px + 2vmin);
    margin: 0;
  }
}