@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  color: #005b99;
}

h1 {
  font-size: calc(28px + 2vmin);
}

h2 {
  font-size: calc(16px + 2vmin);
}

h3 {
  font-size: calc(12px + 2vmin);
}

p, table {
  font-size: calc(11px + 1vmin);
  color: #2e353f;
}

a {
  font-size: calc(10px + 1vmin);
  color: #2e353f;
  padding: calc(4px + .25vmin);
  position: relative;
  text-decoration: none;  

  transition: all .2s;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 50%;
  //   height: 50%;
  //   z-index: -1;
  //   transform: translate(-14px, -4px);
  //   background-color: #005c993a;
  // }

}

.Link--active {
  color: #fafafa;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    background-color: #005b99;
  }
}

small {
  font-size: calc(8px + 1vmin);
}